@model IEnumerable<Fechas.Models.citas>

@{
    ViewBag.Title = "Vista";
}

<h2>Informate!!!</h2>
<div class="jumbotron">
    <h1>APA</h1>
    <p class="lead">
        Una cita es la expresión parcial de ideas o afirmaciones incluidas en un texto con referencia precisa de su origen o fuente y la consignación dentro de la estructura del texto. En el estilo APA se utilizan paréntesis dentro del texto en lugar de notas al pie de página o al final del texto, como en otros estilos. La cita ofrece información sobre el autor y año de publicación, que conduce al lector a las referencias que se deben consignar al final del documento. Básicamente hay dos formas de realizar una cita dependiendo de lo que se quiera enfatizar con ella. En el primer caso, se hace un énfasis al autor cuando lo que se quiere citar o resaltar es el pensamiento o la posición específica de alguien sobre algún tema. Por otra parte, en las citas basadas en el texto, se quiere hacer referencia a una frase o teoría específica en la que el autor tiene un papel secundario. De la misma manera, la cita se puede realizar de manera de manera textual o parafraseada para lo cual es relevante el número de palabras citadas para configurar la cita, como se verá a continuación.
    </p>

    <button class="btn btn-default" type="submit">@Html.ActionLink("Volver", "Index", "Citas")</button>


</div>